# copy this template to ramsay.conf and fill in the required information
[DISCORD BOT]
token = 
# space separated list of prefix for the bot
prefix = r. R.
# paste the name of the team you want to follow here
teamname = 
dataurl = https://overcooked.greeny.dev/assets/data/data.csv
# id of the channel the bot should post updates in
channelid = 
